<div class="row">
  <div class="col-md-4">
    <% error = @product.errors.include?(:name) %>
    <fieldset class='control-group <%= error ? 'has-error' : ''%>'>
      <%= f.label :name, :class => 'control-label' %>
      <div class='controls'>
        <%= f.text_field :name, :class => 'form-control input-xlarge input-with-feedback', :autofocus => true %>
      </div>
    </fieldset>

    <% error = @product.errors.include?(:price) %>
    <fieldset class='control-group <%= error ? 'has-error' : ''%>'>
      <%= f.label :price, :class => 'control-label' %>
      <div class='controls'>
        <%= f.number_field :price, :class => 'form-control input-xlarge input-with-feedback' %>
      </div>
    </fieldset>

    <% photo = @product.photo || @product.build_photo %>
    <% error = @product.errors.include?(:photo) %>
    <% f.fields_for :photo, photo do |ff| %>
      <fieldset class='control-group <%= error ? 'has-error' : ''%>'>
        <%= ff.label :photo, :class => 'control-label' %>
        <div class='controls'>
          <%= ff.file_field :picture, :class => 'form-control input-xlarge input-with-feedback' %>
        </div>
      </fieldset>
    <% end %>
  </div>

  <div class="col-md-4">
    <% if @product.photo.picture.exists? %>
      <%= image_tag(@product.photo.url, class: 'img img-responsive') %>
    <% end %>
  </div>
</div>

<div class="row top-buffer">
  <div class="col-md-2">
    <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  </div>
  <div class="col-md-2">
  <%= link_to pat(:cancel), url(:products, :index), :class => 'btn btn-danger pull-right' %>
  </div>
</div>
