<div class="row">
  <div class="col-md-4">
    <%= f.label :identifier, :class => 'control-label' %>
    <div class='controls'>
      <%= f.text_field :identifier, :class => 'form-control input-xlarge input-with-feedback', :autofocus => true %>
    </div>
    <% error = @product.errors.include?(:name) %>
    <fieldset class='control-group <%= error ? 'has-error' : ''%>'>
      <%= f.label :name, :class => 'control-label' %>
      <div class='controls'>
        <%= f.text_field :name, :class => 'form-control input-xlarge input-with-feedback' %>
      </div>
    </fieldset>

    <% error = @product.errors.include?(:price) %>
    <fieldset class='control-group <%= error ? 'has-error' : ''%>'>
      <%= f.label :price, :class => 'control-label' %>
      <div class='input-group'>
        <%= f.text_field :price, value: @product.price_f, class: 'form-control input-xlarge input-with-feedback' %>
        <span class="input-group-addon">CHF</span>
      </div>
    </fieldset>
  </div>
</div>

<div class="row top-buffer">
  <div class="col-md-2">
  <%= link_to pat(:cancel), url(:products, :index), :class => 'btn btn-danger' %>
  </div>
  <div class="col-md-2">
    <%= f.submit pat(:save), :class => 'btn btn-primary pull-right' %>
  </div>
</div>
