<h1 class="h1">
  Produkte
</h1>
<table id=list class="table table-hover">
  <thead>
    <tr>
      <th class=header> <%= mat(:product, :name) %></th>
      <th class=header> <%= mat(:product, :price) %></th>
      <th class=header> <%= mat(:product, :created_at) %></th>
      <th class=header> <%= mat(:product, :updated_at) %></th>
      <th class="header list-row-action-header">
        <%= link_to "Neues Produkt erfassen", url(:products, :new), class: 'btn btn-primary' %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr class=list-row>
        <td class=list-column> <%= product.name %> </td>
        <td class=list-column> <%= product.price %> </td>
        <td class=list-column> <%= product.created_at.strftime('%d.%m.%Y %H:%M') %></td>
        <td class=list-column> <%= product.updated_at.strftime('%d.%m.%Y %H:%M') %></td>
        <td class=list-column>
          <% form_tag url(:products, :destroy, id: product.id), method: :delete, class: 'destroy-product' do %>
            <%= submit_tag pat(:delete), class: 'btn btn-danger pull-right' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
