<h2 class="h2">
  Produkte
  <% form_tag url_for(:products, :search), method: :get, class: 'inline' do %>
    <%= text_field_tag :q, value: params[:q], placeholder: 'Suche', autofocus: true %>
    <% if params[:q] %>
      <%= link_to 'Alle anzeigen', url_for(:products, :index), class: 'btn btn-lg btn-default' %>
    <% end %>
    <%= submit_tag "Suchen", class: 'btn btn-primary hidden' %>
  <% end %>
  <div class="pull-right">
    <%= link_to "Neues Produkt erfassen", url_for(:products, :new), format: :pdf, class: 'btn btn-primary btn-lg' %>
  </div>
</h2>

<ul class="pagination">
  <li class=<%= 'active' if !(params[:letter] || params[:stock]) %>>
    <%= link_to "Alle", url_for(:products, :index) %>
  </li>
  <li class="<%= 'active' if params[:stock] %>">
    <%= link_to "Bestand", url_for(:products, :index, stock: true) %>
  </li>
  <% ('A'..'Z').to_a.each do |letter| %>
    <li class=<%= 'active' if letter == params[:letter] %>>
      <%= link_to letter, url_for(:products, :index, letter: letter) %>
    </li>
  <% end %>
</ul>

<table id="list" class="table table-hover table-condensed">
  <thead>
    <tr>
      <th class="header"> <%= mat(:product, :identifier) %></th>
      <th class="header"> <%= mat(:product, :name) %></th>
      <th class="header text-right"> <%= mat(:product, :price) %></th>
      <th class="header text-right"><%= mat(:product, :stock_quantity) %></th>
      <th class="header"></th>
      <th class="header"> <%= mat(:product, :updated_at) %></th>
      <th class="header list-row-action-header">
        <%= link_to "Liste ausdrucken", url_for(:products, :index, letter: params[:letter], format: :pdf), class: 'btn btn-primary pull-right', target: :blank %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr class="list-row <%= product.tracks_stock_thresholds? && ((product.stock_quantity || 0) <= product.inventory_threshold_warn ? 'bg-danger' : ((product.stock_quantity || 0) <= product.inventory_threshold_notice ? 'bg-warning' : '')) %>">
        <td class='list-column'><%= product.identifier %></td>
        <td class='list-column'><%= link_to product.name, url_for(:products, :edit, id: product.id) %></td>
        <td class='list-column text-right'><%= product.price_f %></td>
        <td class='list-column text-right'><%= product.track_stock? ? product.stock_quantity : '-' %></td>
        <td></td>
        <td class='list-column'><%= product.updated_at.strftime('%d.%m.%Y') %></td>
        <td class='list-column'>
          <% form_tag url(:products, :destroy, id: product.id), method: :delete, class: 'destroy-product' do %>
            <%= submit_tag pat(:delete), class: 'btn btn-danger pull-right' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
