<div class="row">
  <div class="page-header">
    <h1>Neue Bestellung</h1>
  </div>
</div>
<div class="row">
  <% form_for @order, url(:orders, :create), method: :post, id: 'order-form', class: 'form-horizontal' do |f| %>
    <div class="col-md-4 col-md-offset-2 col-xs-12">
      <div class="row">
        <% name_error = @order.errors[:name] %>
        <div class="form-group <%= "has-error" if name_error.present? %>">
          <div class="col-md-3">
            <%= f.label "Name", for: :name, class: 'control-label', required: true %>
          </div>
          <div class="col-md-8">
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <% if name_error.present? %>
            <div class="help-block col-md-10">
              <%= name_error.join(' ') %>
            </div>
          <% end %>
        </div>
        <% email_or_phone_error = @order.errors[:email_or_phone] %>
        <div class="form-group <%= "has-error" if email_or_phone_error.present? %>">
          <div class="col-md-3">
            <%= f.label "Email", for: :email, class: 'control-label', required: true %>
          </div>
          <div class="col-md-8">
            <%= f.text_field :email, class: "form-control" %>
          </div>
        </div>
        <div class="form-group <%= "has-error" if email_or_phone_error.present? %>">
          <div class="col-md-3">
            <%= f.label "Telefon", for: :phone, class: 'control-label', required: true %>
          </div>
          <div class="col-md-8">
            <%= f.text_field :phone, class: "form-control" %>
          </div>
          <% if email_or_phone_error.present? %>
            <div class="help-block col-md-10">
              <%= email_or_phone_error.join(' ') %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="row">
        <div class="form-group">
          <div class="col-md-2">
            <%= f.label "Kommentar", for: :comment %>
          </div>
          <div class="col-md-6">
            <%= f.text_area :comment, class: 'form-control', rows: 6 %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <table class="table">
        <thead>
          <tr>
            <th class="photo"></th>
            <th class="name">Name</th>
            <th class="quantity text-right">Anzahl</th>
            <th class="multiplier text-center"></th>
            <th class="price text-right"><%= "Preis" %></th>
            <th class="total-price text-right"><%= "Total" %></th>
          </tr>
        </thead>
        <tbody class="products">
          <% @products.each_with_index do |product, index| %>
            <% item = @order.order_items.build(product: product) %>
            <% f.fields_for :order_items, item, index: index do |ff| %>
              <%= ff.hidden_field :id, value: item.id %>
              <%= ff.hidden_field :product_id, value: product.id %>
              <%= ff.hidden_field :price, value: product.price %>
              <tr class="product">
                <td class="photo col-xs-2"><%= image_tag(product.photo.url(:small)) %></td>
                <td class="name col-xs-2"><%= product.to_s %></td>
                <% prev_param_quantity = params.try(:[], 'order').try(:[], 'order_items_attributes').try(:[], index.to_s).try(:[], 'quantity') %>
                <td class="quantity col-xs-1"><%= ff.number_field :quantity, class: 'form-control', value: prev_param_quantity %></td>
                <td class="multiplier col-xs-1">x</td>
                <td class="price col-xs-1 text-right">
                  <span class="price_value"><%= product.price %></span>
                  <span class="price_currency">CHF</span>
                </td>
                <td class="total-price col-xs-1 text-right">
                  <span class="price_value"></span>
                  <span class="price_currency">CHF</span>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>

        <tfoot>
          <tr class="total-row">
            <th class="photo"></td>
            <th class="name">TOTAL</td>
            <th class="quantity"></td>
            <th class="multiplier"></td>
            <th class="price text-right">
              <span class="price_value"></span>
              <span class="price_currency">CHF</span>
            </td>
            <th class="total-price text-right">
              <span class="price_value"></span>
              <span class="price_currency">CHF</span>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="col-md-2">
    </div>

    <div class="col-md-3 col-xs-12">
      <%= f.submit "Bestellung abschliessen", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
