<div class="header row" id="order">
  <div class="page-header">
    <h1><%= @order.to_s %> <small><%= "für #{@order.name}" %></small></h1>
  </div>
  <div class="header">
    <div class="total-item-count">
      <%= "Menge: #{@order.total_item_count} Stück" %>
    </div>
    <div class="total-item-price">
      <%= "Total Preis: #{@order.total_item_price} #{@order.currency}" %>
    </div>
  </div>
</div>

<div class="order_items row">
  <table class="table">
    <thead>
      <th class="image"></th>
      <th class="product-name">Produkt</th>
      <th class="item-quantity">Anzahl</th>
      <th class="multiplier"></th>
      <th class="item-price">Preis</th>
      <th class="item-total-price">Total</th>
    </thead>
    <tbody>
      <% @order.order_items.each do |item| %>
        <% product = item.product %>
        <tr>
          <td class="image"><%= image_tag product.photo.picture.url(:small) %></td>
          <td class="product-name"><%= product.name %></td>
          <td class="item-quantity"><%= item.quantity %></td>
          <td class="multiplier">x</td>
          <td class="item-price"><%= "#{item.price} #{item.currency}" %></td>
          <td class="item-total-price"><%= "#{item.total_price} #{item.currency}" %></td>
        </tr>
      <% end %>
    </tbody>
  </div>
</div>
