<div class="row">
  <div class="col-xs-12">
    <h3>Unser Betrieb</h3>
  </div>
  <div class="col-md-6 col-xs-12">
    <ul>
      <li>
      <h5>Unser Betrieb liegt 1 km ausserhalb von Kirchberg BE Richtung Utzensdorf.</h5>
      </li>
      <li>
        <h5>Wir sind Mastbetrieb mit 100 K채lber f체r <%= link_to "GEFU", 'http://www.gefu-oberle.ch/home.html', target: :blank %>.</h5>
      </li>
      <li>
        <h5>Kaninchenzuchtbetrieb mit 130 Muttertieren f체r <%= link_to "Kani Swiss", 'http://www.schweizerkaninchen.ch/', target: :blank %>.</h5>
      </li>
      <li>
        <h5>H체hner zur Selbstversorgung.</h5>
      </li>
    </ul>
    </p>
  </div>
  <div class="col-md-6 col-xs-12">

    <div id="carousel" class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag '/images/minified/chleehof.jpg', class: 'img img-responsive' %>
        </div>
        <div class="item">
          <%= image_tag '/images/minified/chleehof_wide.jpg', class: 'img img-responsive' %>
        </div>
        <div class="item">
          <%= image_tag '/images/minified/wasser.jpg', class: 'img img-responsive' %>
        </div>
        <div class="item">
          <%= image_tag '/images/minified/pferde.jpg', class: 'img img-responsive' %>
        </div>
        <div class="item">
          <%= image_tag '/images/minified/kaelber.jpg', class: 'img img-responsive' %>
        </div>
        <div class="item">
          <%= image_tag '/images/minified/kaninchen_stroh.jpg', class: 'img img-responsive' %>
        </div>
        <div class="item">
          <%= image_tag '/images/minified/kaninchen.jpg', class: 'img img-responsive' %>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
