<div class="row">
  <h3>Kulturen</h3>
  <div class="col-md-6 col-xs-12">
    <ul>
      <li><h5>Kartoffeln für Saatgut</h5></li>
      <li><h5>Getreide für Saatgut</h5></li>
      <li><h5>Zuckerrüben</h5></li>
      <li><h5>Mais</h5></li>
      <li><h5>Raps</h5></li>
      <li><h5>Kunstwiese</h5></li>
    </ul>
  </div>

  <div class="col-md-6 col-xs-12">

    <div id="carousel" class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag '/images/minified/kartoffelpflanzen.jpg', class: 'img img-responsive' %>
          <div class="carousel-caption">
            <h3>Kartoffeln am blühen</h3>
          </div>
        </div>
        <div class="item">
          <%= image_tag '/images/minified/kartoffeln_band.jpg', class: 'img img-responsive' %>
          <div class="carousel-caption">
            <h3>Kartoffeln ernten</h3>
          </div>
        </div>
        <div class="item">
          <%= image_tag '/images/minified/kartoffeln.jpg', class: 'img img-responsive' %>
          <div class="carousel-caption">
            <h3>Kartoffeln Abtransport</h3>
          </div>
        </div>
        <div class="item">
          <%= image_tag '/images/minified/getreide.jpg', class: 'img img-responsive' %>
          <div class="carousel-caption">
            <h3>Weizen vor der Ernte</h3>
          </div>
        </div>
        <div class="item">
          <%= image_tag '/images/minified/maehdrescher.jpg', class: 'img img-responsive' %>
          <div class="carousel-caption">
            <h3>Getreide ernten</h3>
          </div>
        </div>
        <div class="item">
          <%= image_tag '/images/minified/rueben.jpg', class: 'img img-responsive' %>
          <div class="carousel-caption">
            <h3>geerntete Zuckerrüben</h3>
          </div>
        </div>
        <div class="item">
          <%= image_tag '/images/minified/raps.jpg', class: 'img img-responsive' %>
          <div class="carousel-caption">
            <h3>blühender Raps</h3>
          </div>
        </div>
        <div class="item">
          <%= image_tag '/images/minified/kunstwiese.jpg', class: 'img img-responsive' %>
          <div class="carousel-caption">
            <h3>Kunstwiese mähen</h3>
          </div>
        </div>
        <div class="item">
          <%= image_tag '/images/minified/rundballen.jpg', class: 'img img-responsive' %>
          <div class="carousel-caption">
            <h3>Kunstwiese konservieren</h3>
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>

