<h1>Einstellungen</h1>
<% form_for :account, url(:accounts, :update, :id => @account.id), :method => :put, :class => 'form-horizontal' do |f| %>
  <div class="col-md-4">
    <h4>Barzahlungsrabatt</h4>
    <div class="form-group">
      <%= f.label :cash_discount_percentage, class: 'col-sm-5 control-label' %>
      <div class="col-sm-7">
        <div class="input-group">
          <%= f.text_field :cash_discount_percentage, class: 'form-control text-right' %>
          <span class="input-group-addon">%</span>
        </div>
      </div>
    </div>
    <h4>Mengenrabatt</h4>
    <div class="form-group">
      <%= f.label :bulk_discount_percentage, class: 'col-sm-5 control-label' %>
      <div class="col-sm-7">
        <div class="input-group">
          <%= f.text_field :bulk_discount_percentage, class: 'form-control text-right' %>
          <span class="input-group-addon">%</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :bulk_discount_treshold, class: 'col-sm-5 control-label' %>
      <div class="col-sm-7">
        <div class="input-group">
          <%= f.text_field :bulk_discount_treshold, class: 'form-control text-right' %>
          <span class="input-group-addon">CHF</span>
        </div>
      </div>
    </div>
    <h4>Frühlingsrabatt</h4>
    <div class="form-group">
      <%= f.label :spring_discount_active, class: 'col-sm-5 control-label' %>
      <div class="col-sm-7">
        <div class="checkbox">
          <label>
            <%= f.check_box :spring_discount_active %>
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :spring_discount_percentage, class: 'col-sm-5 control-label' %>
      <div class="col-sm-7">
        <div class="input-group">
          <%= f.text_field :spring_discount_percentage, class: 'form-control text-right' %>
          <span class="input-group-addon">%</span>
        </div>
      </div>
    </div>
    <h4>Mehrwertsteuer</h4>
    <div class="form-group">
      <%= f.label :vat_percentage, class: 'col-sm-5 control-label' %>
      <div class="col-sm-7">
        <div class="input-group">
          <%= f.text_field :vat_percentage, class: 'form-control text-right' %>
          <span class="input-group-addon">%</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-6">
        <%= link_to pat(:cancel), url(:orders, :new), :class => 'btn btn-danger' %>
      </div>
      <div class="col-sm-6 pull-right">
        <%= f.submit pat(:save), :class => 'btn btn-primary pull-right' %>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    
  </div>
  <div class="col-md-6">
    <h4>MwSt. Nummer</h4>
    <div class="form-group">
      <%= f.label :vat_number, class: 'col-sm-5 control-label' %>
      <div class="col-sm-7">
        <%= f.text_field :vat_number, class: 'form-control' %>
      </div>
    </div>

    <h4>IBAN</h4>
    <div class="form-group">
      <%= f.label :iban, class: 'col-sm-5 control-label' %>
      <div class="col-sm-7">
        <%= f.text_field :iban, class: 'form-control' %>
      </div>
    </div>
  </div>
<% end %>

