<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name=viewport content='width=device-width,initial-scale=1' />
    <title><%= @title.present? ? "#{@title} | Padrino Admin" : "Padrino Admin" %></title>
    <%= favicon_tag "favicon.ico" %>
    <link href='http://fonts.googleapis.com/css?family=Varela' rel=stylesheet />
    <%= stylesheet_link_tag 'bootstrap', 'application' %>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class=navbar-inner>
        <div class=container>
          <%= link_to 'Admin', url(:base, :index), :class => 'navbar-brand', :title => 'Padrino Admin' %>
          <ul class="nav navbar-nav pull-right">
            <li>
              <%= link_to "Zur Hauptseite", '/' %>
            </li>
            <li>
              <%= button_to(pat(:logout), url(:sessions, :destroy), :method => :delete, :class => 'navbar-nav-form', :submit_options => { :type => :submit, :title => pat(:logout), :class => 'navbar-nav-form-link' })  %>
            </li>
          </ul>

          <ul class="nav navbar-nav pull-left">
            <li class="navbar-module">
              <%= link_to "Produkte", url(:products, :index) %>
            </li>
            <li class="navbar-module">
              <%= link_to "Bestellungen", url(:orders, :index) %>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class='container main'>
      <div class='main-wrapper'>
        <%= {:error => 'danger', :warning => 'warning', :success => 'success', :notice => 'info'}.map { |type, class_name| flash_tag(type, :class => "alert alert-#{class_name} fade in", :bootstrap => true) }.join.html_safe %>
        <div class='row'><%= yield %></div>
        <div class='main-wrapper-push'></div>
      </div>
    </div>

    <%= javascript_include_tag 'jquery-1.11.0.min', 'bootstrap/bootstrap.min', :application, :products %>
  </body>
</html>
