<div class="row">
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12">
        <h3>Kunde</h3>
        <div id="customer-search">
          <%= text_field_tag :customer_search, id: 'customer-search', data: {url: url(:customers, :search, format: :json), }, placeholder: 'Suche', class: 'form-control input-xlarge' %>
          <div id="customer-search-results" class="result-container">
            <% Customer.first(3).each do |customer| %>
              <div class="customer-result">
                <%= "#{customer.name}, #{customer.address_1}" %>
              </div>
            <% end %>
          </div>
        </div>
        <% error = @order.errors.include?(:name) %>
        <fieldset class='control-group <%= error ? 'has-error' : ''%>'>
          <%= f.label :first_name, :class => 'control-label' %>
          <div class='controls'>
            <%= f.text_field :first_name, :class => 'form-control input-xlarge input-with-feedback' %>
          </div>
        </fieldset>
        <fieldset class='control-group <%= error ? 'has-error' : ''%>'>
          <%= f.label :last_name, :class => 'control-label' %>
          <div class='controls'>
            <%= f.text_field :last_name, :class => 'form-control input-xlarge input-with-feedback' %>
          </div>
        </fieldset>
        <fieldset class='control-group <%= error ? 'has-error' : ''%>'>
          <%= f.label :address_1, :class => 'control-label' %>
          <div class='controls'>
            <%= f.text_field :address_1, :class => 'form-control input-xlarge input-with-feedback' %>
          </div>
        </fieldset>
        <fieldset class='control-group <%= error ? 'has-error' : ''%>'>
          <%= f.label :address_2, :class => 'control-label' %>
          <div class='controls'>
            <%= f.text_field :address_2, :class => 'form-control input-xlarge input-with-feedback' %>
          </div>
        </fieldset>
        <fieldset class='control-group <%= error ? 'has-error' : ''%>'>
          <%= f.label :zip_code, :class => 'control-label' %>
          <div class='controls'>
            <%= f.text_field :zip_code, :class => 'form-control input-xlarge input-with-feedback' %>
          </div>
        </fieldset>
        <fieldset class='control-group <%= error ? 'has-error' : ''%>'>
          <%= f.label :city, :class => 'control-label' %>
          <div class='controls'>
            <%= f.text_field :city, :class => 'form-control input-xlarge input-with-feedback' %>
          </div>
        </fieldset>
        <% error = @order.errors.include?(:phone) %>
        <fieldset class='control-group <%= error ? 'has-error' : ''%>'>
          <%= f.label :phone, :class => 'control-label' %>
          <div class='controls'>
            <%= f.text_field :phone, :class => 'form-control input-xlarge input-with-feedback' %>
          </div>
        </fieldset>
        <% error = @order.errors.include?(:email) %>
        <fieldset class='control-group <%= error ? 'has-error' : ''%>'>
          <%= f.label :email, :class => 'control-label' %>
          <div class='controls'>
            <%= f.text_field :email, :class => 'form-control input-xlarge input-with-feedback' %>
          </div>
        </fieldset>
      </div>
      <div class="col-md-6 top-buffer">
        <%= f.submit pat(:save), :class => 'btn btn-primary' %>
      </div>
      <div class="col-md-6 top-buffer">
        <%= link_to pat(:cancel), url(:orders, :index), :class => 'btn btn-danger pull-right' %>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <h3>Produkte</h3>
    <%= text_field_tag :product_search, id: 'product-search', placeholder: 'Suche', class: 'form-control input-xlarge' %>
      <table class="table">
        <thead>
          <tr>
            <th class="name">Name</th>
            <th class="quantity text-right">Anzahl</th>
            <th class="multiplier text-center"></th>
            <th class="price text-right"><%= "Preis" %></th>
            <th class="total-price text-right"><%= "Total" %></th>
          </tr>
        </thead>
        <tbody class="order-items">
        </tbody>

        <tfoot>
          <tr class="total-row">
            <th class="name">TOTAL</td>
            <th class="quantity"></td>
            <th class="multiplier"></td>
            <th class="price text-right">
              <span class="price_value"></span>
              <span class="price_currency">CHF</span>
            </td>
            <th class="total-price text-right">
              <span class="price_value"></span>
              <span class="price_currency">CHF</span>
            </td>
          </tr>
        </tfoot>
      </table>
  </div>
</div>
