<div class="row">
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12">
        <h3>Kunde</h3>
        <div class="search-container form-group">
          <div class="col-md-12">
            <%= text_field_tag :customer_search, id: 'customer-search', data: {url: url(:customers, :search, format: :json), }, placeholder: 'Suche', autofocus: true, class: 'form-control input-lg' %>
            <div class="relative-container">
              <div id="customer-search-results" class="result-container hidden"></div>
            </div>
          </div>
        </div>
        <%= f.hidden_field :customer_id %>
        <% error = @order.errors.include?(:last_name) %>
        <fieldset class='form-group <%= error ? 'has-error' : ''%>'>
          <%= f.label :last_name, :class => 'col-md-4 control-label' %>
          <div class='col-md-8 controls'>
            <%= f.text_field :last_name, :class => 'form-control input-xlarge input-with-feedback' %>
          </div>
        </fieldset>
        <% error = @order.errors.include?(:first_name) %>
        <fieldset class='form-group <%= error ? 'has-error' : ''%>'>
          <%= f.label :first_name, :class => 'col-md-4 control-label' %>
          <div class='col-md-8 controls'>
            <%= f.text_field :first_name, :class => 'form-control input-xlarge input-with-feedback' %>
          </div>
        </fieldset>
        <div class="form-group">
          <%= f.label :company, :class => 'col-md-4 control-label' %>
          <div class='col-md-8 controls'>
            <%= f.text_field :company, :class => 'form-control input-xlarge input-with-feedback' %>
          </div>
        </div>
        <% error = @order.errors.include?(:address_1) %>
        <fieldset class='form-group <%= error ? 'has-error' : ''%>'>
          <%= f.label :address_1, :class => 'col-md-4 control-label' %>
          <div class='col-md-8 controls'>
            <%= f.text_field :address_1, :class => 'form-control input-xlarge input-with-feedback' %>
          </div>
        </fieldset>
        <div class="form-group">
          <%= f.label :address_2, :class => 'col-md-4 control-label' %>
          <div class='col-md-8 controls'>
            <%= f.text_field :address_2, :class => 'form-control input-xlarge input-with-feedback' %>
          </div>
        </div>
        <% error = @order.errors.include?(:zip_code) %>
        <fieldset class='form-group <%= error ? 'has-error' : ''%>'>
          <%= f.label :zip_code, :class => 'col-md-4 control-label' %>
          <div class='col-md-8 controls'>
            <%= f.text_field :zip_code, :class => 'form-control input-xlarge input-with-feedback' %>
          </div>
        </fieldset>
        <% error = @order.errors.include?(:city) %>
        <fieldset class='form-group <%= error ? 'has-error' : ''%>'>
          <%= f.label :city, :class => 'col-md-4 control-label' %>
          <div class='col-md-8 controls'>
            <%= f.text_field :city, :class => 'form-control input-xlarge input-with-feedback' %>
          </div>
        </fieldset>
        <% error = @order.errors.include?(:phone) %>
        <fieldset class='form-group <%= error ? 'has-error' : ''%>'>
          <%= f.label :phone, :class => 'col-md-4 control-label' %>
          <div class='col-md-8 controls'>
            <%= f.text_field :phone, :class => 'form-control input-xlarge input-with-feedback' %>
          </div>
        </fieldset>
        <% error = @order.errors.include?(:email) %>
        <fieldset class='form-group <%= error ? 'has-error' : ''%>'>
          <%= f.label :email, :class => 'col-md-4 control-label' %>
          <div class='col-md-8 controls'>
            <%= f.text_field :email, :class => 'form-control input-xlarge input-with-feedback' %>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <h3>Produkte</h3>
    <div class="search-container">
      <div class="form-group">
        <div class="col-md-12">
          <%= text_field_tag :product_search, id: 'product-search', data: {url: url(:products, :search, format: :json), }, placeholder: 'Suche', class: 'form-control input-lg' %>
          <div class="relative-container">
            <div id="product-search-results" class="result-container hidden"></div>
          </div>
        </div>
      </div>
    </div>
    <table class="table table-condensed order-item-table">
      <thead>
        <tr>
          <th class="col-md-1 delete-action"></th>
          <th class="col-md-1 identifier"><%= mat(:order, :id) %></th>
          <th class="col-md-4 name"><%= mat(:order, :name) %></th>
          <th class="col-md-1 quantity text-right"><%= mat(:order, :quantity) %></th>
          <th class="col-md-2 price text-right"><%= mat(:order, :price) %></th>
          <th class="col-md-2 total-price text-right"><%= mat(:order, :total_price) %></th>
        </tr>
      </thead>
      <tbody class="order-items" id="order-items">
        <% @order.order_items.each do |item| %>
          <% product_id = item.product_id %>
          <input type="hidden" name="order[order_items_attributes][<%= product_id %>][id]" value="<%= item.id %>" id="order_order_items_attributes_<%= product_id %>_id">
          <tr class="order-item" id="order-item-<%= product_id %>">
            <td class="col-md-1 delete-action"><%= link_to "", "#", class: "fa fa-times delete-item"%></td>
            <td class="col-md-1 identifier"><%= item.identifier %></td>
            <td class="col-md-4 name"><%= item.name %></td>
            <td class="col-md-1 quantity text-right form-group">
              <input type="hidden" name="order[order_items_attributes][<%= product_id %>][product_id]" id="order_order_items_attributes_<%= product_id %>_product_id" value="<%= product_id %>"</input>
              <input type="text" name="order[order_items_attributes][<%= product_id %>][quantity]" id="order_order_items_attributes_<%= product_id %>_quantity" class="quantity_input form-control text-right" value="<%= item.quantity %>">
            </td>
            <td class="col-md-1 price">
              <input type="text" step="0.05" name="order[order_items_attributes][<%= product_id %>][price]" value="<%= item.price_f %>" id="order_order_items_attributes_<%= product_id %>_price" class="price_input form-control text-right">
            </td>
            <td class="col-md-2 total-price text-right"><%= item.total_price_f %></td>
          </tr>
        <% end %>
      </tbody>

      <tfoot>
        <tr id="total-excl-vat-row">
          <th class="col-md-1 identifier" colspan=3>TOTAL exkl. MwSt.</th>
          <th class="col-md-1 quantity text-right">0</th>
          <th class="col-md-2 price text-right"></th>
          <th class="col-md-2 total-price text-right">
            <span class="price_currency">CHF</span>
            <span class="price_value">0.00</span>
          </th>
        </tr>
        <tr id="cash-discount-row">
          <td class="col-md-1 identifier" colspan=3>
            <%= f.check_box :payed_cash, class: 'inline' %>
            <span class="horizontal-spacer"></span>
            <%= "Barzahlungsrabatt #{current_account.cash_discount_percentage}%" %>
          </td>
          <td class="col-md-1 quantity text-right"></td>
          <td class="col-md-2 price text-right">
            <%= f.text_field :cash_discount, readonly: true, class: 'form-control text-right', data: { percentage: current_account.cash_discount_percentage } %>
          </td>
          <td class="col-md-2 total-price text-right">
            <span id="cash_discount">0.00</span>
          </td>
        </tr>
        <tr id="bulk-discount-row">
          <td class="col-md-1 identifier" colspan=3><%= "Mengenrabatt ab CHF #{current_account.bulk_discount_treshold}: #{current_account.bulk_discount_percentage}%" %></td>
          <td class="col-md-1 quantity text-right"></td>
          <td class="col-md-2 price text-right">
            <%= f.text_field :bulk_discount, readonly: true, class: 'form-control text-right', data: { percentage: current_account.bulk_discount_percentage, treshold: current_account.bulk_discount_treshold } %>
          </td>
          <td class="col-md-2 total-price text-right">
            <span id="bulk_discount">0.00</span>
          </td>
        </tr>
        <% if current_account.spring_discount_active? %>
          <tr id="spring-discount-row">
            <td class="col-md-1 identifier" colspan=3><%= "Frühlingsrabatt: #{current_account.spring_discount_percentage}%" %></td>
            <td class="col-md-1 quantity text-right"></td>
            <td class="col-md-2 price text-right">
              <%= f.text_field :spring_discount, readonly: true, class: 'form-control text-right', data: { percentage: current_account.spring_discount_percentage } %>
            </td>
            <td class="col-md-2 total-price text-right">
              <span id="spring_discount">0.00</span>
            </td>
          </tr>
        <% end %>
        <tr id="total-incl-vat-row">
          <td class="col-md-1 identifier" colspan=3><%= "MwSt. #{current_account.vat_percentage}%" %></td>
          <td class="col-md-1 quantity text-right"></td>
          <td class="col-md-2 price text-right">
            <%= f.hidden_field :vat_percentage, value: current_account.vat_percentage %>
            <%= f.text_field :vat_amount, readonly: true, class: 'form-control text-right' %>
          </td>
          <td class="col-md-2 total-price text-right">0.00</td>
        </tr>
        <tr id="shipping-cost-row">
          <td class="col-md-1 identifier" colspan=3>Versandkosten</td>
          <td class="col-md-1 quantity text-right"></td>
          <td class="col-md-2 price text-right">
            <%= f.text_field :shipping_cost, value: formatted_price(f.object.shipping_cost), class: 'form-control text-right' %>
          </td>
          <td class="col-md-2 total-price text-right">0.00</td>
        </tr>
        <tr id="total-price-row">
          <th class="col-md-1 identifier" colspan=3><%= "GESAMTTOTAL" %></th>
          <th class="col-md-1 quantity text-right">0</th>
          <th class="col-md-2 price text-right">
          </th>
          <th class="col-md-2 total-price text-right">
            <span class="price_currency">CHF</span>
            <span class="price_value">0.00</span>
          </th>
        </tr>
        </tr>
      </tfoot>
    </table>
    <div class="row top-buffer">
      <div class="col-md-6">
        <%= link_to pat(:cancel), url(:orders, :index), :class => 'btn btn-lg btn-danger' %>
      </div>
      <div class="col-md-6">
        <%= f.submit "Rechnung Abschliessen", :class => 'btn btn-lg btn-primary pull-right' %>
      </div>
    </div>
  </div>
</div>
