<h1 class="h1">
  Bestellungen
</h1>
<table id=list class="table table-hover">
  <thead>
    <tr>
      <th class=header> <%= mat(:order, :name) %></th>
      <th class=header> <%= mat(:order, :phone) %></th>
      <th class=header> <%= mat(:order, :email) %></th>
      <th class=header> <%= mat(:order, :comment) %></th>
      <th class=header> <%= mat(:order, :created_at) %></th>
      <th class="header list-row-action-header">
        <%= link_to "Neue Bestellung erfassen", url(:orders, :new), class: 'btn btn-primary' %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr class=list-row>
        <td class=list-column> <%= link_to order.name, url(:orders, :edit, id: order.id) %> </td>
        <td class=list-column> <%= order.phone %> </td>
        <td class=list-column> <%= order.email %> </td>
        <td class=list-column> <%= order.comment %> </td>
        <td class=list-column> <%= order.updated_at.strftime('%d.%m.%Y %H:%M') %></td>
        <td class="list-column">
          <% form_tag url(:orders, :destroy, :id => order.id), method: :delete, class: 'destroy-order' do %>
            <%= submit_tag pat(:delete), :class =>'btn btn-danger pull-right' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
