<h1 class="h1">
  Kunden
  <% form_tag url_for(:customers, :search), method: :get, class: 'inline' do %>
    <%= text_field_tag :q, value: params[:q], placeholder: 'Suche', autofocus: true %>
    <% if params[:q] %>
      <%= link_to 'Alle anzeigen', url_for(:customers, :index), class: 'btn btn-lg btn-default' %>
    <% end %>
    <%= submit_tag "Suchen", class: 'btn btn-primary hidden' %>
  <% end %>
</h1>
<ul class="pagination">
  <% ('A'..'Z').to_a.each do |letter| %>
    <li class=<%= 'active' if letter == params[:letter] %>>
      <%= link_to letter, url_for(:customers, :index, letter: letter) %>
    </li>
  <% end %>
</ul>
<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th class=header> <%= mat(:customer, :name) %></th>
      <th class=header> <%= mat(:customer, :address_1) %></th>
      <th class=header> <%= mat(:customer, :zip_code) %></th>
      <th class=header> <%= mat(:customer, :city) %></th>
      <th class=header> <%= mat(:customer, :phone) %></th>
      <th class=header> <%= mat(:customer, :email) %></th>
      <th class="header list-row-action-header" colspan=2>
        <%= link_to "Neuer Kunde erfassen", url(:customers, :new), class: 'btn btn-primary pull-right' %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr class=list-row>
        <td class=list-column> <%= link_to customer.name, url_for(:customers, :edit, id: customer.id) %> </td>
        <td class=list-column> <%= customer.address_1 %> </td>
        <td class=list-column> <%= customer.zip_code %> </td>
        <td class=list-column> <%= customer.city %> </td>
        <td class=list-column> <%= customer.phone %> </td>
        <td class=list-column> <%= mail_to customer.email, customer.email %> </td>
        <td class="list-column">
          <%= link_to "Bestellung", url_for(:orders, :new, customer_id: customer.id), class: 'btn btn-default' %>
        </td>
        <td class="list-column">
          <% form_tag url_for(:customers, :destroy, :id => customer.id), method: :delete, class: 'destroy-customer' do %>
            <%= submit_tag pat(:delete), :class =>'btn btn-danger pull-right' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

