<div class="row">
  <div class="page-header">
    <h3>
      Verpackungsmaterial "Vom Hof"
      <small>
        <%= link_to "www.VomHof.ch", 'https://www.vomhof.ch' %>
      </small>

      <div class="pull-right">
        <%= link_to "Bestellformular herunterladen", url(:pages, :formular), target: :blank, class: 'btn btn-primary' %>
      </div>
      <div class="clearfix">
      </div>
    </h3>
    <h4>
        Keine festen Öffnungszeiten! Bitte kontaktieren Sie uns, um vorher einen Termin zu vereinbaren.
    </h4>
    <h5>
      <p>
        Telefon: <a href="tel:+41 34 445 53 89">034 445 53 89</a>
      </p>
      <p>
        Handy: <a href="tel:+41 79 583 77 55">079 583 77 55</a>
      </p>
      <p>
        Email: <a href="mailto:fam_luethi@hotmail.com">fam_luethi@hotmail.com</a>
      </p>
    </h5>

    <div class="pull-right">
      <h4><%= Product.categories.map { |_, c| link_to(c[:name], "##{c[:id]}") }.join(" | ").html_safe %></h4>
    </div>
    <div class="clearfix"></div>
  </div>
</div>


<% @products.group_by(&:category).each do |category, products| %>
  <% category = Product.categories[category] %>
  <div class="row">
    <h4 id="<%= category[:id] %>"><%= category[:name] %></h4>
    <% products.each do |product| %>
      <div class="product col-lg-3 col-sm-4 col-xs-12">
        <div class="product-information">
          <div class="product-name text-center">
            <strong><%= product.name %></strong>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <hr>
<% end %>

<div class="modal" id="lightbox" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <img src="" id="image" class="img img-responsive center-block" />
    </div>
  </div>
</div>
